SEMAPHORE_DB_DIALECT=postgres
SEMAPHORE_DB_HOST=postgres-16
SEMAPHORE_DB_PORT=5432
SEMAPHORE_DB_NAME=semaphore
SEMAPHORE_DB_USER=<USERNAME>
SEMAPHORE_DB_PASS=<PASSWORD>
SEMAPHORE_ADMIN=<USERNAME>
SEMAPHORE_ADMIN_PASSWORD=<PASSWORD>
SEMAPHORE_ADMIN_NAME="Aman Gupta"
SEMAPHORE_ADMIN_EMAIL=<EMAIL>