longhornUI:
  replicas: 1

ingress:
  enabled: true
  ingressClassName: "nginx"
  host: "longhorn.lan"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-issuer"
  tls: true
  tlsSecret: longhorn-tls

persistence:
  defaultClassReplicaCount: '1'

defaultSettings:
  defaultReplicaCount: '1'
  allowCollectingLonghornUsageMetrics: false
  storageReservedPercentageForDefaultDisk: '5'
  deletingConfirmationFlag: true

csi:
  attacherReplicaCount: '3'
  provisionerReplicaCount: '3'
  resizerReplicaCount: '2'
  snapshotterReplicaCount: '2'

metrics:
  serviceMonitor:
    enabled: true
