---
image:
  tag: "2025-12-12-alpine"

ingress:
  enabled: true
  ingressClassName: "nginx"
  hosts:
    - host: ldap.lan
      paths:
        - path: /
          pathType: ImplementationSpecific

secret:
  create: true
  annotations: {}
  lldapJwtSecret: "wobY6RK/Dc0vL21zFiIZs9iyVy0NQ3ldijYPQ4HLWTc="
  lldapUserPass: "administrator123456"
  lldapBaseDn: "dc=homelab"
