---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# resources:
#   - vault-connection.yaml

helmCharts:
  - name: vault-secrets-operator
    repo: https://helm.releases.hashicorp.com
    version: 1.1.0
    releaseName: "vault-secrets-operator"
    namespace: vault-secrets-operator
    valuesFile: values.yaml
