---
services:
  bind-exporter:
    image: prometheuscommunity/bind-exporter:v0.8.0
    container_name: bind-exporter
    hostname: pi
    restart: always
    command:
      - "--bind.stats-url=http://bind9:8053"
    ports:
      - "9119:9119"
    networks:
      - homelab
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "prometheus-job=bind-exporter"
        - "prometheus-port=9119"
        - "traefik.enable=false"

networks:
  homelab:
    external: true
