---
services:
  it-tools:
    image: corentinth/it-tools:2024.10.22-7ca5933
    container_name: it-tools
    hostname: pi
    networks:
      - homelab
    # healthcheck:
    #   test: ["CMD-SHELL", "wget --quiet --tries=1 --spider http://localhost:80/ || exit 1"]
    #   interval: 30s
    #   timeout: 5s
    #   retries: 3
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.it-tools.service=it-tools"
        - "traefik.http.routers.it-tools.rule=Host(`it-tools.lan`)"
        - "traefik.http.services.it-tools.loadbalancer.server.port=80"
        - "traefik.http.routers.it-tools.entrypoints=web"

networks:
  homelab:
    external: true
