---
image:
  tag: '4.39.15'

ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "selfsigned-issuer"
  tls:
    enabled: true

configMap:
  storage:
    local:
      enabled: true
  notifier:
    filesystem:
      enabled: true
  session:
    cookies:
      - domain: "authelia.lan"
  authentication_backend:
    ldap:
      enabled: true
      implementation: "lldap"
      tls:
        skip_verify: true
      address: "ldap://lldap.lldap.svc:3890"
      base_dn: "dc=homelab"
      # Read Only Service Account for Authelia
      user: "uid=authelia,ou=people,dc=homelab"
      additional_users_dn: "ou=people"
      password:
        value: "password"
  telemetry:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
