---
plugins:
  enabled: true

opencost:
  mcp:
    enabled: false
  ui:
    ingress:
      enabled: true
      ingressClassName: "nginx"
      hosts:
        - host: opencost.lan
          paths:
            - /
      annotations:
        cert-manager.io/cluster-issuer: "selfsigned-issuer"
      tls:
        - hosts:
            - opencost.lan
          secretName: opencost-tls
  prometheus:
    internal:
      enabled: true
      serviceName: kube-prometheus-stack-prometheus
      namespaceName: monitoring
      port: 9090
  customPricing:
    enabled: true
    costModel:
      description: India Pricing
      CPU: 1.25
      RAM: 0.50
      storage: 0.25
      GPU: 0.95
      zoneNetworkEgress: 0.01
      regionNetworkEgress: 0.01
      internetNetworkEgress: 0.12
      LBIngressDataCost: 0.01
      FirstFiveForwardingRulesCost: 0.0
      AdditionalForwardingRuleCost: 0.0
  carbonCost:
    enabled: true
  metrics:
    serviceMonitor:
      enabled: true
