services:
  pihole:
    image: pihole/pihole:2025.11.1
    container_name: pihole
    hostname: pi
    restart: unless-stopped
    env_file:
      - ./env/pihole.env
    environment:
      - FTLCONF_LOCAL_IPV4=${FTLCONF_LOCAL_IPV4}
      - TZ=${TZ}
      - WEBPASSWORD=${WEBPASSWORD}
      - DNSMASQ_LISTENING=${DNSMASQ_LISTENING}
      - PIHOLE_DNS_=${PIHOLE_DNS_}
      - TEMPERATUREUNIT=${TEMPERATUREUNIT}
    ports:
      - "5353:53/tcp"
      - "5353:53/udp"
    networks:
      - homelab
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.pihole.service=pihole-http"
        - "traefik.http.routers.pihole.rule=Host(`pihole.lan`)"
        - "traefik.http.services.pihole-http.loadbalancer.server.port=80"
        - "traefik.http.routers.pihole.entrypoints=web"
    volumes:
      - pihole_data:/etc/pihole

networks:
  homelab:
    external: true

volumes:
  pihole_data:
