---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: homepage

configMapGenerator:
  - name: homepage
    files:
      - config/bookmarks.yaml
      - config/custom.css
      - config/custom.js
      - config/docker.yaml
      - config/kubernetes.yaml
      - config/services.yaml
      - config/settings.yaml
      - config/widgets.yaml
      - config/proxmox.yaml

resources:
  - deployment.yaml
  - ingress.yaml
  - service.yaml
  - service-account.yaml
  - secret.yaml
  - role.yaml

images:
  - name: ghcr.io/gethomepage/homepage
    newName: ghcr.io/gethomepage/homepage
    newTag: v1.7.0
