GF_SECURITY_ADMIN_USER=<USERNAME>
GF_SECURITY_ADMIN_PASSWORD=<PASSWORD>
GF_USERS_ALLOW_SIGN_UP=false
GF_DATABASE_TYPE=postgres
GF_DATABASE_HOST=<POSTGRES_HOSTNAME>:5432
GF_DATABASE_NAME=grafana
GF_DATABASE_USER=<GF_DATABASE_USER>
GF_DATABASE_PASSWORD=<GF_DATABASE_PASSWORD>
GF_SERVER_DOMAIN=charts.lan
GF_DATABASE_SSL_MODE=disable