---
services:
  romm:
    image: ghcr.io/rommapp/romm:4.3.2
    container_name: romm
    hostname: pi
    networks:
      - homelab
    # healthcheck:
    #   test: ["CMD-SHELL", "wget --quiet --tries=1 --spider http://localhost:80/ || exit 1"]
    #   interval: 30s
    #   timeout: 5s
    #   retries: 3
    deploy:
      placement:
        constraints:
          - node.role == worker
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.romm.service=romm"
        - "traefik.http.routers.romm.rule=Host(`romm.lan`)"
        - "traefik.http.services.romm.loadbalancer.server.port=80"
        - "traefik.http.routers.romm.entrypoints=web"

networks:
  homelab:
    external: true
