DOCKER_INFLUXDB_INIT_MODE=setup
INFLUXD_LOG_LEVEL=info
DOCKER_INFLUXDB_INIT_ORG=homelab
DOCKER_INFLUXDB_INIT_BUCKET=<BUCKET_NAME>
DOCKER_INFLUXDB_INIT_USERNAME=<USERNAME>
DOCKER_INFLUXDB_INIT_PASSWORD=<PASSWORD>
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=<ADMIN_TOKEN>
