---
services:
  adminer:
    image: adminer:5.4.2
    container_name: adminer
    hostname: pi
    restart: always
    networks:
      - homelab
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.adminer.service=adminer"
        - "traefik.http.routers.adminer.rule=Host(`adminer.lan`)"
        - "traefik.http.services.adminer.loadbalancer.server.port=8080"
        - "traefik.http.routers.adminer.entrypoints=web"

networks:
  homelab:
    external: true
