---
services:
  smokeping-prober:
    image: quay.io/superq/smokeping-prober:v0.10.0
    container_name: smokeping-prober
    hostname: pi
    restart: always
    command:
      - "--config.file=/etc/smokeping-prober/config.yaml"
    networks:
      - homelab
    ports:
      - "9374:9374"
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "prometheus-job=smokeping-prober"
        - "prometheus-port=9374"
        - "traefik.enable=false"
    volumes:
      - ./config/:/etc/smokeping-prober/

networks:
  homelab:
    external: true
