---
configs:
  cm:
    exec.enabled: true
    admin.enabled: true
    kustomize.buildOptions: "--load-restrictor LoadRestrictionsNone --enable-helm"
  rbac:
    policy.default: "role:admin"
  repositories:
    homelab-repo:
      url: "https://github.com/bolleyboll/homelab.git"
      name: homelab
      type: git
  secret:
    argocdServerAdminPassword: "$2a$10$Ldk5mGRowat3Z2uOuGyWZuNNMJvMZf1NwyNPNryg.7fBlxx6kBkFy"
    argocdServerAdminPasswordMtime: "2025-11-19T00:00:00Z"

controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

dex:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

redis:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

repoServer:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

applicationSet:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

notifications:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

global:
  domain: "argocd.lan"

server:
  ingress:
    enabled: true
    ingressClassName: "nginx"
    pathType: ImplementationSpecific
    tls: true
    annotations:
      cert-manager.io/cluster-issuer: "selfsigned-issuer"
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
