---
injector:
  enabled: false

  agentImage:
    tag: "1.21.3"

server:
  image:
    tag: "1.21.3"

  ingress:
    enabled: true
    ingressClassName: "nginx"
    pathType: ImplementationSpecific
    activeService: true
    hosts:
      - host: vault.lan
    annotations:
      cert-manager.io/cluster-issuer: "selfsigned-issuer"
    tls:
      - hosts:
          - vault.lan
        secretName: vault-tls

  readinessProbe:
    path: "/v1/sys/health?standbyok=true&sealedcode=204&uninitcode=204"

serverTelemetry:
  serviceMonitor:
    enabled: true
