---
injector:
  image:
    tag: "1.7.2"

  agentImage:
    tag: "1.21.1"

server:
  image:
    tag: "1.21.1"

  ingress:
    enabled: true
    ingressClassName: "nginx"
    pathType: ImplementationSpecific
    activeService: true
    hosts:
      - host: vault.lan

  readinessProbe:
    path: "/v1/sys/health?standbyok=true&sealedcode=204&uninitcode=204"

serverTelemetry:
  serviceMonitor:
    enabled: true
