---
services:
  mariadb-12:
    image: mariadb:12.0.2
    container_name: mariadb
    hostname: pi
    restart: always
    networks:
      - homelab
    environment:
      - MARIADB_MYSQL_LOCALHOST_USER=1
      - MARIADB_MYSQL_LOCALHOST_GRANTS="all"
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      placement:
        constraints:
          - node.role == manager
    volumes:
      - mariadb:/var/lib/mysql

  # mysql-exporter:
  #   image: prom/mysqld-exporter:v0.18.0
  #   container_name: mysql-exporter
  #   hostname: pi
  #   restart: always
  #   networks:
  #     - homelab
  #   ports:
  #     - "9104:9104"
  #   environment:
  #     - MYSQL_ADDR=mariadb-12:3306
  #   deploy:
  #     placement:
  #       constraints:
  #         - node.role == worker
  #     labels:
  #       - "prometheus-job=mysql-exporter"
  #       - "prometheus-port=9104"
  #       - "traefik.enable=true"
  #       - "traefik.http.routers.mysqlexporter.service=mysqlexporter"
  #       - "traefik.http.routers.mysqlexporter.rule=Host(`mysql-exporter.lan`)"
  #       - "traefik.http.services.mysqlexporter.loadbalancer.server.port=9104"
  #       - "traefik.http.routers.mysqlexporter.entrypoints=web"

networks:
  homelab:
    external: true

volumes:
  mariadb:
