---
services:
  mariadb-12:
    image: mariadb:12.0.2
    container_name: mariadb
    hostname: pi
    restart: always
    networks:
      - homelab
    environment:
      - MARIADB_AUTO_UPGRADE=1
      - MARIADB_MYSQL_LOCALHOST_USER=1
      - MARIADB_MYSQL_LOCALHOST_GRANTS="all"
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      placement:
        constraints:
          - node.role == manager
    volumes:
      - mariadb:/var/lib/mysql

  mysql-exporter:
    image: prom/mysqld-exporter:v0.18.0
    container_name: mysql-exporter
    hostname: pi
    restart: always
    networks:
      - homelab
    ports:
      - "9104:9104"
    command:
      - '--web.listen-address=0.0.0.0:9104'
      - '--config.my-cnf=/etc/mysqld_exporter/mysqld_exporter.cnf'
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "prometheus-job=mysql-exporter"
        - "prometheus-port=9104"
    volumes:
      - ./config/:/etc/mysqld_exporter/

networks:
  homelab:
    external: true

volumes:
  mariadb:
