# This ENV File is the only one where values are bound within quotes
# Required
TZ=Asia/Kolkata
FTLCONF_webserver_api_password=<REDACTED>

# Additional Settings
FTLCONF_dns_listeningMode=all
FTLCONF_dns_upstreams=1.1.1.1;8.8.8.8
