# Required
FTLCONF_LOCAL_IPV4: "127.0.0.1"
TZ: "Asia/Kolkata"
WEBPASSWORD: "<REDACTED>"

# Additional Settings
DNSMASQ_LISTENING: "all"
PIHOLE_DNS_: "1.1.1.1;8.8.8.8;94.140.14.14;94.140.15.15"
TEMPERATUREUNIT: "c"
