write-kubeconfig-mode: "0644"
node-label:
  - "box=rpi5"
flannel-backend: "none"
disable-kube-proxy: true
disable-network-policy: true
disable:
  - servicelb
  - traefik
  - local-storage
token: "{{ vault_k3s_token }}"
cluster-init: true
