---
services:
  valkey-9:
    image: valkey/valkey:9.0.0-alpine
    container_name: valkey
    hostname: pi
    restart: always
    networks:
      - homelab
    ports:
      - "6379:6379"
    deploy:
      placement:
        constraints:
          - node.role == worker
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]

  redis-exporter:
    image: oliver006/redis_exporter:v1.79.0-alpine
    container_name: redis-exporter
    hostname: pi
    restart: always
    networks:
      - homelab
    ports:
      - "9121:9121"
    environment:
      - REDIS_ADDR=valkey-9:6379
    deploy:
      placement:
        constraints:
          - node.role == worker
      labels:
        - "prometheus-job=valkey-exporter"
        - "prometheus-port=9121"
        - "traefik.enable=true"
        - "traefik.http.routers.redisexporter.service=redisexporter"
        - "traefik.http.routers.redisexporter.rule=Host(`redis-exporter.lan`)"
        - "traefik.http.services.redisexporter.loadbalancer.server.port=9121"
        - "traefik.http.routers.redisexporter.entrypoints=web"

networks:
  homelab:
    external: true
