---
services:
  valkey-9:
    image: valkey/valkey:9.0.0-alpine
    container_name: valkey
    hostname: pi
    restart: always
    networks:
      - homelab
    ports:
      - "6379:6379"
    deploy:
      placement:
        constraints:
          - node.role == worker
      labels:
        - "traefik.enable=false"
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]

  redis-exporter:
    image: oliver006/redis_exporter:v1.80.0-alpine
    container_name: redis-exporter
    hostname: pi
    restart: always
    networks:
      - homelab
    ports:
      - "9121:9121"
    environment:
      - REDIS_ADDR=valkey-9:6379
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "prometheus-job=valkey-exporter"
        - "prometheus-port=9121"
        - "traefik.enable=false"

networks:
  homelab:
    external: true
