---
services:
  postgres-18:
    image: postgres:18.1-alpine
    container_name: postgres
    hostname: pi
    user: postgres
    restart: always
    networks:
      - homelab
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=false"
    volumes:
      - pgdata:/var/lib/postgresql/data

  postgres-exporter:
    image: quay.io/prometheuscommunity/postgres-exporter:v0.18.1
    container_name: postgres-exporter
    hostname: pi
    restart: always
    networks:
      - homelab
    ports:
      - "9187:9187"
    environment:
      - DATA_SOURCE_URI=postgres-18:5432/postgres?sslmode=disable
      - DATA_SOURCE_USER=${POSTGRES_USER}
      - DATA_SOURCE_PASS=${POSTGRES_PASSWORD}
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "prometheus-job=postgres-exporter"
        - "prometheus-port=9187"
        - "traefik.enable=false"

networks:
  homelab:
    external: true

volumes:
  pgdata:
